@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-roboto);
  --font-display: var(--font-roboto-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
}
h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: normal;
}
p {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  scroll-behavior: smooth;
  background: #333;
}

.emptyLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  font-size: 0;
}

header .menu-block a::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -12px;
  width: 1px;
  height: 150%;
  pointer-events: none;
  background: #454546;
}

header .menu-block a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 12px;
  background-size: cover;
  transform: translateY(-50%);
  background: url("/icon/home_icon.png");
}

header .menu-block a.tel::before {
  background: url("/icon/call_us_icon.png");
}

header .menu-block a.mail::before {
  background: url("/icon/email_icon.png");
}

header .menu-block a.apply::before {
  background: url("/icon/apply_icon.png");
}

header .menu-block a.login::before {
  background: url("/icon/insured_login_icon.png");
}

header .block-search-form::before {
  content: "";
  position: absolute;
  top: 45%;
  right: 28px;
  width: 1px;
  height: 50%;
  transform: translateY(-35%);
  pointer-events: none;
  z-index: 2;
  background: #bebebe;
}

header .block-search-form .btn-search {
  padding-left: 5px;
  background-size: contain;
  background-position: right;
  width: 20px;
  height: 15px;
  position: absolute;
  top: 44%;
  right: 8px;
  text-indent: -9999px;
  transform: translateY(-40%);
  cursor: pointer;
  background: url("/icon/search_icon.png") no-repeat;
  background-position: right;
}

header .main-link:hover {
  box-shadow: 0px 2px 3px 1px #b1b1b1 inset;
  background: url("/icon/nav_bg.png");
  background-size: contain;
}

.hero p {
  font-size: 22px;
}

.btn-blue {
  background: #00529c url("/icon/arrow.png") no-repeat;
  background-position: right center;
}

.btn-small {
  background: #00529c url("/icon/small_arrow.png") no-repeat;
  background-position: right center;
}

.sub-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  bottom: 0;
  background: #666;
}

.sub-link:last-child::after {
  display: none;
}

.breadcrumbs-list {
  background: url("/icon/breadcrumb.png") no-repeat;
  background-position: right 4px;
}

.breadcrumbs .wrapper {
  margin: 0 auto;
}

.prose .wrapper {
  margin: 0 auto;
}

.prose .sub_title {
  color: #00529c;
  margin-bottom: 16px;
}

.prose p {
  margin: 16px 0;
  color: #404040;
}

.prose a {
  color: #00529c;
  font-weight: 700;
}

.prose a:hover {
  text-decoration: underline;
}

.prose .sub_italic {
  margin: 21px 0;
  color: #404040;
  font-style: italic;
}

.prose ul.products {
  padding-top: 22px;
  padding-left: 0;
  display: flex;
  list-style: none;
}

.prose ul.expertise {
  padding-top: 22px;
  padding-left: 0;
  display: flex;
  list-style: none;
}

.prose ul {
  margin: 16px 0;
}

.prose li {
  font-size: 13px;
  color: #404040;
  line-height: 18px;
  font-family: sans-serif;
}

.prose li.product {
  width: 250px;
  border-right: 1px solid #ccc;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 88px 15px 0;
  min-height: 75px;
}

.prose ul.expertise li {
  width: 219px;
  border-right: 1px solid #ccc;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 88px 25px 0;
  min-height: 75px;
}

.prose ul.expertise li:first-child {
  background: url("/icon/review.png") no-repeat;
  background-position: center 5px;
}

.prose ul.expertise li:nth-child(2) {
  background: url("/icon/education.png") no-repeat;
  background-position: center 5px;
}

.prose ul.expertise li:nth-child(3) {
  background: url("/icon/peer.png") no-repeat;
  background-position: center 5px;
}

.prose ul.expertise li:last-child {
  background: url("/icon/credits.png") no-repeat;
  background-position: center 5px;
  border-right: unset;
}

.prose ul.expertise li:hover:first-child {
  background: url("/icon/review_h.png") no-repeat;
  background-position: center 5px;
  text-decoration: underline;
}

.prose ul.expertise li:hover:nth-child(2) {
  background: url("/icon/education_h.png") no-repeat;
  background-position: center 5px;
  text-decoration: underline;
}

.prose ul.expertise li:hover:nth-child(3) {
  background: url("/icon/peer_h.png") no-repeat;
  background-position: center 5px;
  text-decoration: underline;
}

.prose ul.expertise li:hover:last-child {
  background: url("/icon/credits_h.png") no-repeat;
  background-position: center 5px;
  text-decoration: underline;
}

.prose li.product:first-child {
  background: url("/icon/product1.png") no-repeat;
  background-position: center 8px;
}

.prose li.product:nth-child(2) {
  background: url("/icon/product2.png") no-repeat;
  background-position: center 8px;
}

.prose li.product:hover:nth-child(2) {
  background: url("/icon/product2_h.png") no-repeat;
  background-position: center 7px;
  text-decoration: underline;
}

.prose li.product a {
  color: #404040;
}

.prose ul.expertise li a {
  color: #404040;
}

.prose li.product:hover:first-child {
  background: url("/icon/product1_h.png") no-repeat;
  background-position: center 8px;
  text-decoration: underline;
}

.prose li.product:hover:last-child {
  background: url("/icon/product3_h.png") no-repeat;
  background-position: center 26px;
  text-decoration: underline;
}

.prose li.product:last-child {
  border-right: unset;
  background: url("/icon/product3.png") no-repeat;
  background-position: center 26px;
}

.hero .swiper-initialized {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero h2 {
  color: #20384c;
  text-transform: uppercase;
  margin: 0;
  font-weight: 100;
  font-size: 32px;
}

.hero .swiper-pagination {
  display: none;
}

.hero .swiper-button-prev {
  font-size: 0;
  position: absolute;
  left: 10px;
  top: 70%;
  transform: translateY(-60%);
  background: url("/icon/left_arrow.png") no-repeat 50%;
  z-index: 2;
  width: 74px;
  height: 85px;
  cursor: pointer;
  background-size: 32%;
  border: 0;
}

.hero .swiper-button-next {
  font-size: 0;
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-70%);
  background: url("/icon/right_arrow.png") no-repeat 50%;
  background-size: 32%;
  z-index: 3;
  width: 74px;
  height: 80px;
  cursor: pointer;
  border: 0;
}

.hero .swiper-button-prev::after {
  display: none;
}

.hero .swiper-button-next::after {
  display: none;
}
