@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-roboto);
  --font-display: var(--font-roboto-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  scroll-behavior: smooth;
  background: #333;
}

.emptyLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  font-size: 0;
}

header .menu-block a::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -12px;
  width: 1px;
  height: 150%;
  pointer-events: none;
  background: #454546;
}

header .menu-block a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 12px;
  background-size: cover;
  transform: translateY(-50%);
  background: url("/icon/home_icon.png");
}

header .menu-block a.tel::before {
  background: url("/icon/call_us_icon.png");
}

header .menu-block a.mail::before {
  background: url("/icon/email_icon.png");
}

header .menu-block a.apply::before {
  background: url("/icon/apply_icon.png");
}

header .menu-block a.login::before {
  background: url("/icon/insured_login_icon.png");
}

header .block-search-form::before {
  content: "";
  position: absolute;
  top: 45%;
  right: 28px;
  width: 1px;
  height: 50%;
  transform: translateY(-35%);
  pointer-events: none;
  z-index: 2;
  background: #bebebe;
}

header .block-search-form .btn-search {
  padding-left: 5px;
  background-size: contain;
  background-position: right;
  width: 20px;
  height: 15px;
  position: absolute;
  top: 44%;
  right: 8px;
  text-indent: -9999px;
  transform: translateY(-40%);
  cursor: pointer;
  background: url("/icon/search_icon.png") no-repeat;
  background-position: right;
}

header .main-link:hover {
  box-shadow: 0px 2px 3px 1px #b1b1b1 inset;
  background: url("/icon/nav_bg.png");
  background-size: contain;
}

.btn-blue {
  background: #00529c url("/icon/arrow.png") no-repeat;
  background-position: right center;
}
